body {
  font-family: system-ui;
  //text-align: justify;
  padding: 2em 10em;
  line-height: 1.5;
  color: black;
}
select {
  font-family: system-ui;
}

h1 {
  //text-align: center;
}
.bar-chart {
  //background-color: #efefef;
}

/* g.xAxis text {
  //  transform: rotate(-90deg);
} */

p {
  padding-bottom: 3em;
}

a {
  display: inline-block;
  background-color: black;
  margin: 1em 0;
  padding: 0.2em 1em;
  text-decoration: none;
  text-align: center;
  color: white;
  border: 0.08em solid black;
  border-radius: 0.1em;
}
