body {
  font-family: system-ui;
  //  text-align: justify;
  padding: 2em 15em;
  line-height: 1.5;
  color: black;
}
select {
  font-family: system-ui;
}

h1 {
  text-align: center;
}
.bar-chart {
  //background-color: #efefef;
}

p:last-of-type {
  padding-bottom: 10em;
}

a#relative,
a#absolute {
  display: inline-block;
  width: 10%;
  background-color: black;
  margin: 1em 0;
  padding: 0.2em 1em;
  text-decoration: none;
  text-align: center;
  color: white;
  border: 0.08em solid black;
  border-radius: 0.1em;

  font-size: 0.8em;
}
svg {
  display: block;
  stroke-width: 0px;
}
h2 {
  padding-top: 3em;
}
a {
  color: orange;
}
